<div class="{% if class %}{{ class }}__item {% endif %}publication-item">
    <div class="publication-item__date">{{ item.date }}</div>
    <a href="#" class="publication-item__title">{{ item.title }}</a>
    <div class="publication-item__text"><p>{{ item.text }}</p></div>
    <a href="#" class="publication-item__more">Подробнее</a>
</div>