{%  set publication = [ {
    date: '08.12.2018',
    title: 'ВНИМАНИЕ! Изменения в работе склада КЦ «Мытищи»',
    text: 'В связи с внедрением нового программного обеспечения все самовывозы из КЦ «Мытищи» требуют предварительной комплектации!',
},{
    date: '08.12.2018',
    title: 'ВНИМАНИЕ! Изменения в работе склада КЦ «Мытищи»',
    text: 'В связи с внедрением нового программного обеспечения все самовывозы из КЦ «Мытищи» требуют предварительной комплектации!',
},{
    date: '08.12.2018',
    title: 'ВНИМАНИЕ! Изменения в работе склада КЦ «Мытищи»',
    text: 'В связи с внедрением нового программного обеспечения все самовывозы из КЦ «Мытищи» требуют предварительной комплектации!',
},{
    date: '08.12.2018',
    title: 'ВНИМАНИЕ! Изменения в работе склада КЦ «Мытищи»',
    text: 'В связи с внедрением нового программного обеспечения все самовывозы из КЦ «Мытищи» требуют предварительной комплектации!',
}] %}

<div class="publications-widget">
    <div class="publications-widget__container">
        <div class="publications-widget__header">
            <h2 class="publications-widget__title">Новости</h2>
            <a href="#" class="publications-widget__more">Посмотреть все новости</a>
        </div>

        <div class="publications-widget__list">
            {% for item in publication %}
                {% include './publications-list-item.twig' with {'item': item, 'class': 'publications-widget'} %}
            {% endfor %}
        </div>
    </div>
</div>