.products-carousel {
    @extend .l-fullwidth;
    background: #F8F8F8;
    padding: 60px 0 60px;
    &__container {
        @extend .l-container;
        position: relative;
    }
    &__title {
        margin-bottom: 35px;
    }
    &__item {
        height: 100%;
        filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.10));
    }
    .owl-carousel {
        .owl-stage-outer{
            padding: 15px 10px;
            margin: -15px -10px;
        }
        .owl-stage {
            display: flex;
        }
        .owl-dots {
            margin: 30px auto 0;
            text-align: center;
        }
        .owl-nav {
            position: absolute;
            top: -55px;
            right: 0;
            button {
                width: 42px;
                height: 42px;
                margin-right: 10px;
                background-size: 8px 16px !important;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
