<header class="l-header header">
	<div class="header__top">
		<div class="header__container">
			<div class="header__menu-top">
				<nav class="main-menu js-mobile-menu">
					<button data-btn><span>menu</span></button>
					<ul class="main-menu__root">
						<li class="dropdown">
                            <a href="#">О компании</a>
							<div>
								<ul>
									<li><a href="#">О компании
										</a></li>
									<li><a href="#">Новости</a></li>
									<li><a href="#">Благодарности</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#">Производители</a></li>
						<li><a href="#">Доставка и оплата</a></li>
						<li><a href="#">Акции</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
			</div>
			<div class="header__social social-links">
				<a href="#" class="icon-facebook" rel="noreferrer noopener">facebook</a>
				<a href="#" class="icon-vkontakte" rel="noreferrer noopener">vkontakte</a>
			</div>
		</div>
	</div>
	<div class="header__middle">
		<div class="header__container">
			<a href="/" class="header__logo">
				<img src="/assets/images/logo.svg" alt="Elpartner">
				<span>Поставщик<br> электротехнического<br> оборудования</span>
			</a>
			<div class="header__address">
				<div class="header__address-name">
					Главный офис
				</div>
				г. Калуга, ул. Тульская, д. 189, пом.6
			</div>
			<div class="header__email">
				<div class="header__email-name">
					Email
				</div>
				<a href="mailto:ohrimenko.go@elpartner.ru">ohrimenko.go@elpartner.ru</a>
			</div>
			<div class="header__contacts">
				<div class="header__messengers">
					<a href="tg://resolve?domain=NikName" class="header__telegram">Telegram</a>
					<a href="https://api.whatsapp.com/send?phone=79621765457" class="header__whatsapp">Whatsapp</a>
				</div>
				<div class="header__phones">
					<a class="header__phone" href="tel:+79621765457" class="header__phone">+7 (962)176-54-57</a>
					<a class="header__call" href="#">Заказать звонок</a>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="header__container">
			<div class="header__catalog">
				<button class="header__catalog-btn">
					Каталог
				</button>
{#				<div class="header__catalog-dropdown">#}
{#					{% include './blocks/menu-catalog.twig' %}#}
{#				</div>#}
			</div>
			<div class="header__search">
				<form action="" class="header__search-form">
					<input type="text" class="header__search-input" placeholder="Поиск по каталогу">
					<button class="header__search-submit" type="submit">Поиск</button>
				</form>
			</div>
			<div class="header__cart">
				В запросе
				<a href="#" class="header__cart-count">12 позиций</a>
			</div>
		</div>
	</div>
</header>


