<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% include './_head.twig' %}
	<link rel="shortcut icon" href="assets/favicon.ico">
	{% block styles %} <link rel="stylesheet" href="assets/dev/app.css">{% endblock %}
</head>

<body  class="{% block body_class %}inner{% endblock %}">

<div class="l-wrapper">

	{% block header %} {% include './_header.twig' %} {% endblock %}

	<main class="l-main">
		{% block main %}

		{% endblock %}
	</main>

</div>

{% block footer %} {% include './_footer.twig' %} {% endblock %}

<button class="scroll-top js-scroll-top">top</button>

{% block scripts %}
	{#<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" ></script>#}
	<script src="assets/dev/app.js"></script>
{% endblock %}
</body>
</html>
