<div class="form-bottom">
    <div class="form-bottom__container">
        <div class="form-bottom__content">
            <h2 class="form-bottom__title">Поможем выбрать аналог</h2>
            <div class="form-bottom__desc">Мы поможем вам подобрать аналоги, просто отставьте заявку и мы свяжемся с вами в течение рабочего дня</div>
            <a href="" class="form-bottom__btn">ОТПРАВИТЬ ЗАЯВКУ</a>
        </div>
    </div>
</div>