<div class="text-main">
    <div class="text-main__container">
        <div class="text-main__content">
            <h1 class="text-main__title">Поставщик электротехнического оборудования</h1>
            <div class="text-main__text">
                <p>«Элпартнер» начал свою деятельность в 1992 году и сейчас является одним из ведущих дистрибьюторов на российском рынке кабельной и электротехнической продукции.</p>
                <p>За годы своего существования Компания заслужила репутацию надежного партнера, поставщика и работодателя. Сегодня наши филиалы и региональные представительства открыты в разных городах страны, в базе — более 30 000 клиентов, у нас работает более 750 сотрудников. В продуктовом портфеле — более 155 брендов и 320 000 наименований товаров.</p>
            </div>
            <a href="#" class="text-main__btn">О КОМПАНИИ</a>
        </div>
        <div class="text-main__img">
            <img src="/assets/images/text-main.jpg" alt="Поставщик электротехнического оборудования">
        </div>
    </div>

</div>