.banner {
	@extend .l-fullwidth;
	padding: 0 50px;
	@media (max-width: ( $content-width + $content-gap * 2)) {
		padding: 0;
	}
	&__container {
		border-radius: 20px;
		overflow: hidden;
		color: #fff;
		text-align: center;
		padding: 55px 30px 65px;
		@media (max-width: ( $content-width + $content-gap * 2)) {
			width: auto;
			max-width: 100%;
			margin: 0 $content-gap;
		}
		@media (max-width: $lg) {
			padding: 30px 13px 40px;
		}
	}
	&.-blue {
		.banner__container {
			background: #1363D4 url("../images/banner-1.png") no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background: #1363D4 url("../images/banner-1-mobile.png") no-repeat;
				background-size: cover;
			}
		}
		.banner__btn {
			color: $color-accent-primary;
		}
	}
	&.-green {
		background: #F3F7FD;
		.banner__container {
			background: #06BC7B url("../images/banner-2.png") no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background: #06BC7B url("../images/banner-2-mobile.png") no-repeat;
				background-size: cover;
			}
		}
		.banner__btn {
			color: #06BC7B;
		}
	}
	&.-red {
		padding-top: 80px;
		@media (max-width: $mobile-view) {
			padding-top: 30px;
		}
		.banner__container {
			background: #F17A8F url("../images/banner-3.png") no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background: #F17A8F url("../images/banner-3-mobile.png") no-repeat;
				background-size: cover;
			}
		}
		.banner__btn {
			color: #F17A8F;
		}
	}
	&__title {
		color: #fff;
		margin-top: 0;
	}
	&__desc {
		font-size: 18px;
		line-height: 25px;
		text-align: center;
		color: #FFFFFF;
		@media (max-width: $lg) {
			font-size: 14px;
			line-height: 19px;
		}
	}
	&__btn {
		@extend .btn;
		height: auto;
		line-height: normal;
		padding: 14px 30px;
		margin-top: 15px;
		@media (max-width: $lg) {
			margin: 5px 15px 0;
		}
	}
}