.blocks-list {
	&__col {
		height: 100%;
	}
	&__item {
		display: flex;
		align-items: flex-start;
		margin-bottom: 50px;
		@media (max-width: $mobile-view) {
			margin-bottom: 5px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&-title {
			display: block;
			font-family: $font-secondary;
			margin-bottom: 15px;
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
			color: #061938;
			@media (max-width: $mobile-view) {
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 10px;
			}
		}
		&-text {
			font-size: 14px;
			line-height: 22px;
			color: #5E6C84;
			@media (max-width: $mobile-view) {
				font-size: 13px;
				line-height: 18px;
			}
		}
		&-img {
			display: flex;
			align-items: center;
			justify-content: center;
			background: #FFFFFF;
			box-shadow: 0px 4px 24px rgba(13, 18, 123, 0.1);
			border-radius: 10px;
			width: 60px;
			height: 60px;
			flex: none;
			margin-right: 25px;
			img {
				width: auto !important;
			}
		}
	}
	//.owl-stage {
	//	display: flex;
	//}
	.owl-stage-outer {
		padding: 15px;
		margin: -15px;
	}
}