.partners-banner {
	&.-blue {
		.banner__container {
			padding: 85px 30px 85px;
			@media (max-width: ( $content-width + $content-gap * 2)) {
				width: auto;
				max-width: 100%;
				margin: 0 $content-gap;
			}
			@media (max-width: $lg) {
				padding: 30px 13px 40px;
			}
		}
		.banner__content {
			@extend .l-container;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			@media (max-width: $md) {
				flex-direction: column;
			}
			p {
				display: block;
				width: calc(100% + 15px);
				margin-right: 30px;
				text-align: left;
				font-size: 18px;
				margin-bottom: 0 !important;
				&:last-child {
					margin-right: 0;
				}
				@media (max-width: $md) {
					margin-right: 0;
					margin-bottom: 15px !important;
					font-size: 15px;
					&:last-child {
						margin-bottom: 0 !important;
					}
				}
			}
		}
	}
	&.-green {
		background: #fff;
	}
}