.reviews {
	position: relative;
	z-index: 3;
	&__item {
		display: flex;
		align-items: center;
		padding-bottom: 15px;
		@media (max-width: $md) {
			flex-direction: column;
			padding-bottom: 0;
		}
	}
	&__img {
		flex: none;
		display: block;
		width: 330px;
		height: 380px;
		position: relative;
		margin-right: 40px;
		@media (max-width: $md) {
			width: 100%;
			max-width: 280px;
			height: 220px;
			margin-right: 0;
			margin-bottom: 30px;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: -15px;
			left: 50%;
			transform: translateX(-50%);
			width: 95%;
			height: 15px;
			background: #1363D4;
			border-radius: 0 0 10px 10px;
			@media (max-width: $md) {
				bottom: -10px;
				height: 10px;
			}
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
			@media (max-width: $md) {
				object-position: center top;
			}
		}
	}
	&__content {
		position: relative;
		@media (max-width: $md) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__title {
		font-family: $font-secondary;
		font-style: italic;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.3;
		color: #000000;
		padding-left: 70px;
		position: relative;
		@media (min-width: $mobile-view) {
			padding-right: 210px;
		}
		@media (max-width: $mobile-view) {
			font-size: 14px;
		}
		@media (max-width: $md) {
			width: 100%;
		}
		&:before {
			content: '';
			position: absolute;
			top: 7px;
			left: 0;
			height: 3px;
			width: 50px;
			background: #1968D8;
			border-radius: 0px 55px 55px 0px;
		}
		span {
			display: block;
		}
	}
	&__text {
		margin-top: 35px;
		background: #FFFFFF;
		box-shadow: 0px 4px 30px rgba(12, 16, 54, 0.08);
		border-radius: 0px 10px 10px 10px;
		padding: 35px 40px;
		font-size: 18px;
		line-height: 1.4;
		color: #5E6C84;
		position: relative;
		@media (max-width: $mobile-view) {
			font-size: 13px;
			padding: 25px 20px 35px;
			margin-top: 20px;
		}
		&:after {
			content: '';
			position: absolute;
			top: 20px;
			right: -20px;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: #F3F7FD;
			border-radius: 0px 10px 10px 10px;
			@media (max-width: $mobile-view) {
				top: 35px;
				right: -10px;
				height: calc(100% - 25px);
			}
		}
	}
	&__btn {
		@extend .btn;
		margin: 30px auto 0;
		padding: 0 30px;
		@media (min-width: $mobile-view) {
			margin: 0;
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 20px;
		}
	}
}

.reviews-carousel {
	@extend .l-fullwidth;
	position: relative;
	z-index: 2;
	padding: 0 0 40px;
	&:after {
		content: '';
		position: absolute;
		top: 40%;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 557px;
		background: url('../images/reviews-line.jpg') no-repeat;
		background-size: cover;
		@media (max-width: $mobile-view) {
			background-position-x: 60%;
			top: 48%;
			height: 308px;
		}
	}
	&__container {
		@extend .l-container;
	}
	&__content {
		position: relative;
		z-index: 3;
	}
	&__title {
		margin-top: 0;

		&-text {
			font-size: 18px;
			line-height: 1.4;
			text-align: center;
			color: #5E6C84;
			margin-bottom: 55px !important;
			@media (max-width: $lg) {
				font-size: 13px;
				margin-bottom: 30px !important;
			}
		}
	}
	&__item {
		box-shadow: 0px 0px 15px rgba(12, 16, 54, 0.08);
		border-radius: 10px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 30px 55px 35px 25px;
		background: #FFFFFF url("data:image/svg+xml,%3Csvg width='29' height='23' viewBox='0 0 29 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.449463 11.5V23H12.4495V11.5H4.44949C4.44949 7.2727 8.03837 3.83336 12.4495 3.83336V0C5.83227 0 0.449463 5.15852 0.449463 11.5Z' fill='%23F3F7FD'/%3E%3Cpath d='M28.4495 3.83336V0C21.8323 0 16.4494 5.15852 16.4494 11.5V23H28.4495V11.5H20.4495C20.4495 7.2727 24.0384 3.83336 28.4495 3.83336Z' fill='%23F3F7FD'/%3E%3C/svg%3E ") right 18px top 20px no-repeat;
		height: 100%;
		@media (max-width: $mobile-view) {
			background: #fff;
			padding: 30px 10px 30px 30px;
		}
		&-img {
			display: block;
			width: 60px;
			height: 60px;
			flex: none;
			margin-right: 22px;
			@media (max-width: $mobile-view) {
				margin-right: 13px;

			}
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 10px;
			}
		}
		&-content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			height: 100%;
		}
		&-header {
			@media (max-width: $mobile-view) {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				margin-bottom: 17px;
			}
		}
		&-title {
			display: inline-block;
			font-family: $font-secondary;
			font-style: italic;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.3;
			color: #000000;
			position: relative;

			span {
				display: inline-block;
				margin-right: 10px;
				margin-bottom: 9px;
			}
			&:after {
				content: '';
				display: inline-block;
				width: 107px;
				height: 15px;
				background: url("data:image/svg+xml,%3Csvg width='107' height='15' viewBox='0 0 107 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.48387 9.59187L2.69199 14.4537C2.62886 14.8399 3.04074 15.1297 3.38137 14.9401L7.50015 12.6603L11.6189 14.9407C11.9564 15.1285 12.3721 14.8443 12.3083 14.4543L11.5164 9.5925L14.8664 6.15348C15.1321 5.88119 14.9796 5.41923 14.6021 5.36165L9.99079 4.65619L7.9239 0.246941C7.76952 -0.0823135 7.23014 -0.0823135 7.07577 0.246941L5.0095 4.65556L0.398221 5.36102C0.0194684 5.41923 -0.131783 5.88056 0.133844 6.15286L3.48387 9.59187Z' fill='%23FFCE80'/%3E%3Cpath d='M26.4839 9.59187L25.692 14.4537C25.6289 14.8399 26.0407 15.1297 26.3814 14.9401L30.5001 12.6603L34.6189 14.9407C34.9564 15.1285 35.3721 14.8443 35.3083 14.4543L34.5164 9.5925L37.8664 6.15348C38.1321 5.88119 37.9796 5.41923 37.6021 5.36165L32.9908 4.65619L30.9239 0.246941C30.7695 -0.0823135 30.2301 -0.0823135 30.0758 0.246941L28.0095 4.65556L23.3982 5.36102C23.0195 5.41923 22.8682 5.88056 23.1338 6.15286L26.4839 9.59187Z' fill='%23FFCE80'/%3E%3Cpath d='M49.4839 9.59187L48.692 14.4537C48.6289 14.8399 49.0407 15.1297 49.3814 14.9401L53.5001 12.6603L57.6189 14.9407C57.9564 15.1285 58.3721 14.8443 58.3083 14.4543L57.5164 9.5925L60.8664 6.15348C61.1321 5.88119 60.9796 5.41923 60.6021 5.36165L55.9908 4.65619L53.9239 0.246941C53.7695 -0.0823135 53.2301 -0.0823135 53.0758 0.246941L51.0095 4.65556L46.3982 5.36102C46.0195 5.41923 45.8682 5.88056 46.1338 6.15286L49.4839 9.59187Z' fill='%23FFCE80'/%3E%3Cpath d='M72.4839 9.59187L71.692 14.4537C71.6289 14.8399 72.0407 15.1297 72.3814 14.9401L76.5001 12.6603L80.6189 14.9407C80.9564 15.1285 81.3721 14.8443 81.3083 14.4543L80.5164 9.5925L83.8664 6.15348C84.1321 5.88119 83.9796 5.41923 83.6021 5.36165L78.9908 4.65619L76.9239 0.246941C76.7695 -0.0823135 76.2301 -0.0823135 76.0758 0.246941L74.0095 4.65556L69.3982 5.36102C69.0195 5.41923 68.8682 5.88056 69.1338 6.15286L72.4839 9.59187Z' fill='%23FFCE80'/%3E%3Cpath d='M95.4839 9.59187L94.692 14.4537C94.6289 14.8399 95.0407 15.1297 95.3814 14.9401L99.5001 12.6603L103.619 14.9407C103.956 15.1285 104.372 14.8443 104.308 14.4543L103.516 9.5925L106.866 6.15348C107.132 5.88119 106.98 5.41923 106.602 5.36165L101.991 4.65619L99.9239 0.246941C99.7695 -0.0823135 99.2301 -0.0823135 99.0758 0.246941L97.0095 4.65556L92.3982 5.36102C92.0195 5.41923 91.8682 5.88056 92.1338 6.15286L95.4839 9.59187Z' fill='%23FFCE80'/%3E%3C/svg%3E ") no-repeat;
			}
		}
		&-text {
			display: block;
			font-size: 14px;
			line-height: 1.4;
			color: #5E6C84;
			@media (max-width: $mobile-view) {
				font-size: 13px;
			}
		}
		&-link {
			display: block;
			font-family: $font-secondary;
			font-weight: bold;
			font-size: 14px;
			line-height: 1.4;
			color: #1968D8;
			padding-left: 34px;
			min-height: 22px;
			margin-top: auto;
			background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0ZM2.06565 9.9074C2.35719 10.2805 3.16782 10.758 4.40826 11.1475C4.89668 11.3009 5.4316 11.4357 6.00555 11.5502C6.00186 11.3679 6 11.1844 6 11C6 7.67236 6.60556 4.6673 7.65455 2.64231C4.66412 3.84042 2.46628 6.59699 2.06565 9.9074ZM6.12914 13.6108C4.52334 13.3317 3.14644 12.9093 2.10296 12.3658C2.58837 15.5542 4.74677 18.1927 7.65455 19.3577C6.88867 17.8792 6.35916 15.8783 6.12914 13.6108ZM8.17891 13.8773C9.07601 13.9581 10.0209 14 11 14C11.9633 14 12.9124 13.9454 13.8253 13.8441C13.3742 17.4417 12.127 20 11 20C9.87647 20 8.63347 17.4574 8.17891 13.8773ZM13.9863 11.8045C13.0367 11.9275 12.028 12 11 12C9.95577 12 8.95341 11.9483 8.01531 11.8502C8.00522 11.5706 8 11.287 8 11C8 5.98399 9.5936 2 11 2C12.4064 2 14 5.98399 14 11C14 11.2713 13.9953 11.5397 13.9863 11.8045ZM15.8792 13.5269C15.6539 15.8289 15.1208 17.861 14.3454 19.3577C17.3046 18.1721 19.4876 15.4606 19.9212 12.1964C18.861 12.7479 17.4647 13.209 15.8792 13.5269ZM19.9285 9.86013C19.458 10.3883 17.9737 11.0157 15.9962 11.4541C15.9987 11.3035 16 11.1521 16 11C16 7.67236 15.3944 4.6673 14.3454 2.64231C17.3216 3.83471 19.5128 6.57077 19.9285 9.86013Z' fill='%231363D4'/%3E%3C/svg%3E ") left center no-repeat;
			&:hover {
				text-decoration: none;
				background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0ZM2.06565 9.9074C2.35719 10.2805 3.16782 10.758 4.40826 11.1475C4.89668 11.3009 5.4316 11.4357 6.00555 11.5502C6.00186 11.3679 6 11.1844 6 11C6 7.67236 6.60556 4.6673 7.65455 2.64231C4.66412 3.84042 2.46628 6.59699 2.06565 9.9074ZM6.12914 13.6108C4.52334 13.3317 3.14644 12.9093 2.10296 12.3658C2.58837 15.5542 4.74677 18.1927 7.65455 19.3577C6.88867 17.8792 6.35916 15.8783 6.12914 13.6108ZM8.17891 13.8773C9.07601 13.9581 10.0209 14 11 14C11.9633 14 12.9124 13.9454 13.8253 13.8441C13.3742 17.4417 12.127 20 11 20C9.87647 20 8.63347 17.4574 8.17891 13.8773ZM13.9863 11.8045C13.0367 11.9275 12.028 12 11 12C9.95577 12 8.95341 11.9483 8.01531 11.8502C8.00522 11.5706 8 11.287 8 11C8 5.98399 9.5936 2 11 2C12.4064 2 14 5.98399 14 11C14 11.2713 13.9953 11.5397 13.9863 11.8045ZM15.8792 13.5269C15.6539 15.8289 15.1208 17.861 14.3454 19.3577C17.3046 18.1721 19.4876 15.4606 19.9212 12.1964C18.861 12.7479 17.4647 13.209 15.8792 13.5269ZM19.9285 9.86013C19.458 10.3883 17.9737 11.0157 15.9962 11.4541C15.9987 11.3035 16 11.1521 16 11C16 7.67236 15.3944 4.6673 14.3454 2.64231C17.3216 3.83471 19.5128 6.57077 19.9285 9.86013Z' fill='%2300C67F'/%3E%3C/svg%3E ") left center no-repeat;
				color: #00C67F;
			}
		}
	}
	.owl-stage-outer {
		padding: 20px;
		margin: -20px;
		.owl-stage {
			display: flex;
			@media (max-width: $sm) {
				display: block;
			}
		}
	}
}