.text-main {
    padding: 40px 0 80px;
    &__title {
        margin-bottom: 30px;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__content {
        width: calc(50% - 30px);
        margin-right: 30px;
    }
    &__img {
        width: calc(50% - 30px);
        margin-left: 30px;
        img {
            max-width: 100%;
            object-fit: contain;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 1.5;
    }
    &__btn {
        @extend .btn;
        @extend .-bordered;
        margin-top: 15px;
    }
}

.text-additional {
    padding: 80px 0 30px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__content {
        width: calc(50% - 30px);
        margin-left: 30px;
    }
    &__img {
        width: calc(50% - 30px);
        margin-right: 30px;
        img {
            max-width: 100%;
            object-fit: contain;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 1.5;
    }
}

.partners {
    padding: 30px 0 80px;
    &__title {
        margin-bottom: 50px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 70px;
        &-img {
            max-width: 100%;
            max-height: 70px;
            width: auto !important;
            height: auto;
            object-fit: contain;
            opacity: 0.3;
            transition: all 0.2s ease;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }
    .owl-stage {
        display: flex;
        .owl-item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
