.btn {
	$btn-height: 45px;
	$btn-border: 1px;

	$btn-radius: 3px;

	position: relative;
	display: inline-block;
	vertical-align: top;
	height: $btn-height;
	max-width: 100%;
	padding: 0 30px;
	border: none;
	font-family: $font-secondary;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: $btn-height - 2px;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	transition: $transition-default;
	border-radius: $btn-radius;
	&:disabled {
		background: #99A7C0;
		cursor: auto;
		pointer-events: none;
	}
	&:hover,
	&:focus {
		text-decoration: none;
	}
	&--primary,
	&.-primary {
		background: $color-orange;
		border: 1px solid $color-orange;
		color: #fff;
		&:hover,
		&:focus {
			background-color: transparent;
			color: $color-orange;
		}
	}
	&--bordered,
	&.-bordered {
		background: transparent;
		border: 1px solid $color-orange;
		color: $color-orange;
		&:hover,
		&:focus {
			background-color: $color-orange;
			color: #fff;
		}
	}
}
