body {
	font-family: $font-main;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	color: $color-base;
}

h1, .h1 {
	font-family: $font-secondary;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	text-align: left;
	color: $color-heading;
	margin-bottom: 10px;
	.home-page & {
		font-size: 40px;
		margin-top: 0;
	}
	@media (max-width: $lg) {
		font-size: 44px;
	}

}

h2, .h2 {
	font-family: $font-secondary;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	text-align: left;
	color: $color-heading;
	margin-bottom: 20px;
	margin-top: 0;
	@media (max-width: $lg) {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 15px;
		margin-top: 0;
	}
}

h3, .h3 {
	font-family: $font-secondary;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.1;
	text-align: left;
	margin-top: 25px;
	color: $color-heading;
	margin-bottom: 10px;
}

h1, .h1, h2, .h2, h3, .h3 {
	clear: both;
}

a {
	color: #1363D4;
	text-decoration: none;
	transition: $transition-time $transition-ease;
	&:hover {
		text-decoration: underline;
	}
}

main,
.l-main {
	p,
	ul,
	ol,
	table,
	pre {
		margin: 0 0 $text-margin;
	}


	ul, ol {
		padding-left: 22px;
		li {
			margin: 3px 0;
		}
	}

	p + ul,
	p + ol {
		margin-top: -$text-margin;
	}
}