.publications-widget {
	$gap: 20px;
	@extend .l-fullwidth;
	background: #F8F8F8;
	padding: 60px 0 60px;
	&__container {
		@extend .l-container;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	&__title {
		margin-bottom: 0;
	}
	&__list {
		@include grid($gap);
	}
	&__item {
		@include grid-col(1/4, $gap);
	}
	&__more {
		font-size: 14px;
		color: $color-orange;
		padding-right: 36px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 20px;
			height: 16px;
			transition: all .2s ease;
			background: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.8749 7.00011C17.8749 7.23217 17.7828 7.45473 17.6187 7.61882C17.4546 7.78292 17.232 7.87511 16.9999 7.87511L1.24994 7.8751C1.01787 7.8751 0.795314 7.78292 0.63122 7.61882C0.467126 7.45473 0.374939 7.23217 0.374939 7.0001C0.374939 6.76804 0.467126 6.54548 0.63122 6.38139C0.795314 6.21729 1.01787 6.1251 1.24994 6.1251L16.9999 6.12511C17.232 6.12511 17.4546 6.21729 17.6187 6.38139C17.7828 6.54548 17.8749 6.76804 17.8749 7.00011Z' fill='%23EF7B24'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.3694 6.3806C19.4509 6.46188 19.5156 6.55843 19.5597 6.66474C19.6038 6.77104 19.6265 6.88501 19.6265 7.0001C19.6265 7.11519 19.6038 7.22915 19.5597 7.33546C19.5156 7.44176 19.4509 7.53832 19.3694 7.6196L14.1194 12.8696C13.9551 13.0339 13.7323 13.1262 13.4999 13.1262C13.2676 13.1262 13.0447 13.0339 12.8804 12.8696C12.7161 12.7053 12.6238 12.4825 12.6238 12.2501C12.6238 12.0177 12.7161 11.7949 12.8804 11.6306L17.5127 7.0001L12.8804 2.3696C12.7161 2.2053 12.6238 1.98246 12.6238 1.7501C12.6238 1.51774 12.7161 1.2949 12.8804 1.1306C13.0447 0.966297 13.2676 0.873993 13.4999 0.873993C13.7323 0.873993 13.9551 0.966297 14.1194 1.1306L19.3694 6.3806Z' fill='%23EF7B24'/%3E%3C/svg%3E ") center center no-repeat;
		}
		&:hover {
			text-decoration: none;
			&:after {
				right: -5px;
			}
		}
	}
}