// BASE ================================================================================================================
* {
	box-sizing: border-box;
	outline: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	max-height: 999999px;
	max-width: 100%;
	width: 100%;
}

svg:not(:root) {
	overflow: hidden;
}

/*************************************************************************************/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: number-input;
}

.owl-carousel {
	.owl-dots {
		button {
			position: relative;
			width: 8px;
			height: 8px;
			background: #CECECE !important;
			border-radius: 50%;
			margin: 5px 10px;
			transition: all 0.2s ease;
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 14px;
				height: 14px;
				border: 1px solid $color-orange;
				background: transparent;
				transition: all 0.2s ease;
				opacity: 0;
				border-radius: 50%;
			}
			&.active {
				background: $color-orange !important;
				&:after {
					opacity: 1;
				}
			}
		}
	}
	.owl-nav {
		button {
			width: 60px;
			height: 60px;
			box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.13) !important;
			border-radius: 3px;
			transition: all .2s ease;
			&.owl-prev {
				background: #FFF url("data:image/svg+xml,%3Csvg width='13' height='24' viewBox='0 0 13 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 1.5L1 12L11.5 22.5' stroke='%23EF7B24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center no-repeat !important;
				&:hover {
					background: $color-orange url("data:image/svg+xml,%3Csvg width='13' height='24' viewBox='0 0 13 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 1.5L1 12L11.5 22.5' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center no-repeat !important;
				}
			}
			&.owl-next {
				background: #FFF url("data:image/svg+xml,%3Csvg width='13' height='24' viewBox='0 0 13 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.5L12 12L1.5 22.5' stroke='%23EF7B24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ") center center no-repeat !important;
				&:hover {
					background: $color-orange url("data:image/svg+xml,%3Csvg width='13' height='24' viewBox='0 0 13 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.5L12 12L1.5 22.5' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ") center center no-repeat !important;
				}
			}
			span {
				display: none;
			}
		}
	}
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	a {
		position: relative;
		display: flex;
		align-content: center;
		justify-content: center;
		border-radius: 50%;
		padding: 5px;
		background: transparent;
		vertical-align: middle;
		font-size: 0;
		text-decoration: none;
		margin: 0 7px;
		width: 35px;
		height: 35px;
		&::after {
			content: '';
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: inherit;
			transform-origin: center;
			border-radius: inherit;
			animation: social-pulse 1s ease-in-out infinite;
		}
		&:hover {
			text-decoration: none;
			&::after {
				display: block;
			}

		}
		&:hover,
		&:focus {
			text-decoration: none;
			&.icon-vkontakte {
				background: #4c6c91;
			}
			&.icon-youtube {
				background: #f00;
			}

			&.icon-instagram {
				background: linear-gradient(200deg, #962afb 5%, #e8237a 50%, #f1be0b 100%);
			}
		}
		img {
			display: block;
			position: relative;
			z-index: 3;
			max-width: 100%;
			width: auto;
			object-fit: contain;
		}
	}
}

.scroll-top{
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 100;
	display: block;
	width: 67px;
	height: 67px;
	background: #FFFFFF url("data:image/svg+xml,%3Csvg width='26' height='15' viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 14L13 2L25 14' stroke='%231968D8' stroke-width='2'/%3E%3C/svg%3E%0A") center center no-repeat;
	box-shadow: 0px 4px 24px rgba(13, 18, 123, 0.1);
	border-radius: 10px;
	padding: 0;
	border: none;
	cursor: pointer;
	font-size: 0;
	transition: all 0.3s ease;
	&:disabled{
		opacity: 0;
		pointer-events: none;
	}
	&:hover {
		background: #1968D8 url("data:image/svg+xml,%3Csvg width='26' height='15' viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 14L13 2L25 14' stroke='%23ffffff' stroke-width='2'/%3E%3C/svg%3E%0A") center center no-repeat;
	}
}

@keyframes social-pulse {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
	}
}
