$mobile-view: 980px;
$xxs: 320px;
$xs: 414px;
$sm: 568px;
$md: 820px;
$lg: 1024px;
$xl: 1280px;
$content-width: 1300px;
$content-gap: 20px;
$grid-margin-horz: 30px;
$grid-margin-bot: 30px;

$transition-time: 0.2s;
$transition-ease: ease;
$transition-default: all $transition-time $transition-ease;

$font-main: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-size-base: 14px;
$font-weight-base: 400;
$line-height-base: 1.3;

$text-margin: 15px;

$border-radius-block: 4px;
$border-radius-btn: 4px;

$color-base: #5E5E5E;
$color-base-invert: #fff;
$color-heading: #252525;
$color-accent-primary: #1968D8;
$color-orange: #EF7B24;
$color-blue: #375DA8;
$color-dark: #282828;
$color-grey: #DDE1E9;
$color-grey-light: #DDE1E9;
